{% extends "base.html" %}
{#{% load cms_tags %}#}
{% block title %}{#{% page_attribute "page_title" %}#}{% endblock title %}
{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'vote:votes' %}">>Опрос</a>
<a href="{% url 'vote:log' %}">>(log)</a>
{% endblock %}
{% block content %}
<!--<br></br>votesAllView<br>-->
<div style="display:flex">
    <div>
        {#{% include 'submenu.html' %}#}
    </div>
    <!--<h1>question.question_text</h1>-->
    <!--<br>question_id=-->
    <!--<ul>-->
    <div style="margin:10px">
        {% for question in latest_question_list %}
<!--        <br>question_id={{ question.id }}-->
        <!--<br>url 'voteuser:detail' question.id=-->
<!--        <br>{#{% url 'voteuser:detail' question.id %}#}-->
        <!--    <li>-->
<!--        <br>question.question_text= -->
        <hr>
        {{ question.question_text }}
        <!--<br><a href="{#{% url 'voteuser:detail' question.id %}#}">question.question_text={#{{ question.question_text }}#}</a></li>-->
        <!--    <ul>-->
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!--        <hr>-->
<!--        question.id=={{question.id}}-->
        <form action="{% url 'vote:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <br>
<!--            {{choice}}-->
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            {#{{ choice.choice_text }}#}
            = {{ choice.votes }} голосов
<!--            {#{{ choice.votes|pluralize }}#}-->
<!--            user={{ choice.author }}-->
            {% endfor %}
            <br>
            <input type="submit" value="Vote" style="background:orange">
        </form>
        <!--    </ul>-->
        {% endfor %}
        <!--</ul>-->
        <br>
<!--        for choice in question.choice_set.all-->
<!--        <ul>-->
<!--            {% for choice in question.choice_set.all %}-->
<!--            choice_{{ choice }}-->
<!--            <li>{{ choice.choice_text }} &#45;&#45; {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
    </div>
</div>
{% endblock content %}
