{% load static %}
<footer role="contentinfo">
    <div class="copyright-wrapper footer">
        <div class="container">
            <div class="row">
                <div class="footer_hide col-xs-12 footer-block">
                </div>
                <div class="footer_hide col-xs-12 footer-block">
                </div>
                <div class="footer_hide col-xs-12 col-xs-12 footer-block">
                </div>
                <div class="footer_hide col-xs-12 footer-block">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="container">
            <p><a href="https://internetbrain.ru/">InternetBrain</a> Веб студия</p>
            <a href="https://gsk-sm.ru/#" class="scrollup center"><i class="fas fa-long-arrow-alt-up"
                                                                     style="display: none;"></i><span
                    class="screen-reader-text">Scroll Up</span></a>
        </div>
    </div>
</footer>
