<h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Модальное окно на чистом CSS</h1>
<div class="container">
    <div style="text-align: center;">
        <a href="#openModal">Открыть модальное окно</a>
    </div>
    <div id="openModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Название</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    Содержимое модального окна...
                </div>
            </div>
        </div>
    </div>
</div>