{% extends 'base.html' %} <!-- подключаем базовый шаблон -->
forum/forum.html<br>
{% block title %}Forum{% endblock %}
<li><a href="/forum/">{% url 'forum' %}</a></li>
<li class="last"></li>
{% block breadcrumbs %}
{{ block.super }}
<a href="{% url 'forum' %}">>Форумы</a>
{% endblock %}
{% block content %}
<!--<br></br>https://python-scripts.com/category/django-beginners-->
<!--<div style="display:flex;margin:10px">-->
<div style="margin:10px">
    {#{% include 'forum/submenu.html' %}#}
    <!--<br/><a href="{{ forum.get_absolute_url }}create/">"Add New Topic"</a>-->
    Форумов:{{forum.count}}
    <br>Тем:{{topic.count}}
<!--    <br>Сообщений:{{posts.count}}-->
<!--    <br>posts:{{posts}}-->
    {% for p in posts %}
    <br>{{p.date}} Форум id:{{p.forum_id}}
<!--    topic:{{p.topic_id}}-->
    {% endfor %}
    {% for f in forum %}
    <h4>
    <a href="{% url 'forum_id' f.id %}">{{f.forum}}</a>(id:{{f.id}})
    </h4>
    {{forum.date}}
    <p>{{forum.desc}}</p>
    {% endfor %}

</div>
{% endblock %}
